h1 {
  font-family: calibri;
  font-size: 2.5em;
  color: white;
}

div {
  background-color: brown;
  border: 1.2px solid;
  border-color: black;
  height: 115px;
}

button {
  background-color: red;
  font-family: sans-serif;
  position: absolute;
  top: 174px;
  right: 53px;
  z-index: 0;
  padding: 15px;
}

body {
  background-image: url('https://images6.alphacoders.com/573/thumb-1920-573648.jpg');
}
button:hover {
  background-color: pink;
}

input {
  position: absolute;
  right: 170px;
  top: 175px;
  padding: 15px;
  width: 700px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
