h1 {
  font-family: calibri;
  font-size: 2em;
  color: rgb(149, 30, 19);
}

div {
  background-color: grey;
  border: 1.2px solid;
  border-color: black;
  height: 150px;
}

button {
  background-color: red;
  padding: 10px;
  font-family: sans-serif;
  position: absolute;
  top: 185px;
  right: 42px;
  z-index: 0;
}

button:hover {
  background-color: pink;
}

input {
  position: absolute;
  right: 150px;
  top: 199px;
}
